OPENAI_API_TYPE="azure"
OPENAI_API_VERSION="2024-10-01-preview"
# Environment variables obtained from Azure OpenAI
AZURE_OPENAI_CHAT_MODEL_NAME="gpt-35-turbo"
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=""
AZURE_OPENAI_EMBEDDINGS_MODEL_NAME="text-embedding-ada-002"
AZURE_OPENAI_EMBEDDINGS_DEPLOYMENT_NAME=""
AZURE_OPENAI_DEPLOYMENT_NAME=""
AZURE_OPENAI_ENDPOINT="https://<YOUR-OPENAI-DEPLOYMENT-NAME>.openai.azure.com/"
AZURE_OPENAI_API_KEY=""
# Environment variable obtained from Azure Cosmos DB for MongoDB vCore
AZURE_COSMOS_CONNECTION_STRING="<YOUR-COSMOS-DB-CONNECTION-STRING>"
AZURE_COSMOS_USERNAME="<YOUR-COSMOS-DB-USERNAME>"
AZURE_COSMOS_PASSWORD="<YOUR-COSMOS-DB-PASSWORD>"
# Environment variables you set to be used by the code
AZURE_COSMOS_DATABASE_NAME="<COSMOS-DB-NEW-UNIQUE-DATABASE-NAME>"
AZURE_COSMOS_COLLECTION_NAME="<COSMOS-DB-NEW-UNIQUE-COLLECTION-NAME>"
AZURE_COSMOS_INDEX_NAME="VectorSearchIndex"
