name: Run Python linter and formatter

on:
  push:
    branches: [ main ]
    paths:
      - '**.py'

  pull_request:
    branches: [ main ]
    paths:
      - '**.py'

jobs:
    checks-format:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-python@v4
          with:
                python-version: 3.12
                cache: 'pip'
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements-dev.txt
        - name: Check linting with ruff
          run: |
            ruff check .
        - name: Check formatting with black
          run: |
            black . --verbose
